<div class="pirate">
  <h1>Name: <%= @student.name %></h1>
  <h4>Weight: <%= @student.weight %></h4>
  <h4>Height: <%= @student.height %></h4>
</div>

<br>

<h1>Ships</h1>
<div class="ships">
  <% @ships.each do |ship| %>

    <div>
      <h2>Name: <%= ship.name %></h2>

      <p>Type: <%= ship.type %></p>
      <br>
      <p>Booty: <%= ship.booty %></p>
      <br>
    </div>

    <br>

  <% end %>
</div>
