<h1>Pirate</h1>

<div class="pirate">
  <h1>Name: <%= @student.name %></h1>
  <h4>Weight: <%= @student.weight %></h4>
  <h4>Height: <%= @student.height %></h4>
</div>

<div class="ships">
  <% @ships.each do |ship| %>

    <div class="ship_1">
      <h2>Name: <%= ship.name</h2>

      <p> %></p>
      <p>Type: <%= ship.type %></p>
      <p>Booty: <%= ship.booty %></p>

    </div>


    <h2>Second Ship</h2>

  <% end %>
</div>
